AlertDialog/*.iml
AlertDialog/.gitignore.swp
AlertDialog/build/
AlertDialog/.gradle/
AlertDialog/.idea/
AlertDialog/local.properties
AlertDialog/app/build/
AlertDialog/app/libs/
AlertDialog/app/*.iml
AlertDialog/app/proguard-rules.pro
AlertDialog/app/src/androidTest/
AlertDialog/app/src/test/
/AlertDialog/local.properties
/AlertDialog/.idea/workspace.xml
/AlertDialog/.idea/libraries
/AlertDialog/build
/AlertDialog/captures
ContextMenu/*.iml
ContextMenu/.gitignore.swp
ContextMenu/build/
ContextMenu/.gradle/
ContextMenu/.idea/
ContextMenu/local.properties
ContextMenu/app/build/
ContextMenu/app/libs/
ContextMenu/app/*.iml
ContextMenu/app/proguard-rules.pro
ContextMenu/app/src/androidTest/
ContextMenu/app/src/test/
/ContextMenu/local.properties
/ContextMenu/.idea/workspace.xml
/ContextMenu/.idea/libraries
/ContextMenu/build
/ContextMenu/captures
MenuTest/*.iml
MenuTest/.gitignore.swp
MenuTest/build/
MenuTest/.gradle/
MenuTest/.idea/
MenuTest/local.properties
MenuTest/app/build/
MenuTest/app/libs/
MenuTest/app/*.iml
MenuTest/app/proguard-rules.pro
MenuTest/app/src/androidTest/
MenuTest/app/src/test/
/MenuTest/local.properties
/MenuTest/.idea/workspace.xml
/MenuTest/.idea/libraries
/MenuTest/build
/MenuTest/captures
toast/*.iml
toast/.gitignore.swp
toast/build/
toast/.gradle/
toast/.idea/
toast/local.properties
toast/app/build/
toast/app/libs/
toast/app/*.iml
toast/app/proguard-rules.pro
toast/app/src/androidTest/
toast/app/src/test/
/toast/local.properties
/toast/.idea/workspace.xml
/toast/.idea/libraries
/toast/build
/toast/captures
.DS_Store
.externalNativeBuild
.cxx
